a:hover {
  cursor: pointer;
}
.fs-custom {
  font-size: 0.92rem;
  margin-bottom: 2px;
}
#itemFoundSection {
  display: none;
}
.loadingSpinner {
  display: none;
}
#categoryContainer a:focus {
  color: rgb(75, 113, 184);
  font-weight: 600;
}
